.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    background: $color-grey;
    z-index: 1024;
    transition: all .6s ease-in-out;
    
    @include mobile {
        // position: absolute;
        
        &--bg {
            overflow-y: auto;
            height: 100vh;
            background: #fff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    & * {
        transition: all .3s linear;
        
        @include  mobile {
            transition: none;
        }
    }
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        
        @include mobile {
            align-items: center;
        }
    }
    
    &-logo {
        display: inline-block;
        margin-top: 23px;
        margin-right: 35px;
        width: 151px;
        height: auto;
        
        @include mobile {
            width: 91.62px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    &-nav {
        display: inline-block;
        width: calc(100% - 188px);
        
        @include mobile {
            width: 100%;
        }
    }
    
    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @include mobile {
            display: none;
        }
        &__nav {
            display: inline-flex;
            margin-right: 86px;
            &--hover {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    width: 22px;
                    height: 10px;
                    margin: 0 auto;
                    opacity: 0;
                    background: url('../images/icons/line-tree.svg') no-repeat;
                    transition: opacity 0.3s ease-in-out;
                }
                &:hover {
                    
                    &::after {
                        opacity: 1;
                        transition: opacity 0.3s ease-in-out;
                    }
                }
            }
        }
        &__navList {
            position: relative;
            margin-right: 39px;
            padding-top: 29px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                .header-top__navSubList {
                    opacity: 1;
                    visibility: visible;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        &__navLink {
            font-family: $proxima-light;
            font-size: 16px;
            color: $color-lblack;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            
            &:hover {
                font-weight: 600;
                color: $color-primary;
                transition: color 0.3s ease-in-out;
            }
        }
        &__navSubList {
            position: absolute;
            padding: 17px;
            top: 55px;
            left: 0;
            width: 200px;
            background: #fff;
            z-index: 11;
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            li {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: inline-block;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #2B3035;
                    text-decoration: none;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: $color-primary;
                        transition: color 0.3s ease-in-out;
                    }
                }
            }
        }
    }
    
    &-bottom {
        display: flex;
        align-items: center;
        
        @include mobile {
            width: 100%;
            flex-direction: column-reverse;
        }
        
        .btn-catalog {
            margin-right: 20px;
        }

        .search {
            margin-right: 20px;
            margin-bottom: 0;
            width: 300px; 
            flex: 0 0 300px;
            
            @include mobile {
                position: relative;
                z-index: 10;
                display: grid;
                grid-template-columns: 220px 1fr;
                grid-column-gap: 13px;
                align-items: center;
                margin: 0;
                width: 100%;
                flex: 0 0 auto;
            }
            .lang {
                display: none;
                @include mobile {
                    margin-top: 0;
                    display: inline-block;
                }
            }
        }
    }
    .social {
        margin-left: 86px;
        margin-top: 30px;
    }
    .lang {
        margin-top: 30px;
    }
    
    &--fixed {
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
        
        .header-logo {
            margin-top: 10px;
            transition: all .3s linear;
        }
        .header-top {
            margin-bottom: 20px;
            transition: all .3s linear;
        }
        
        .header-top__navList {
            padding-top: 20px;
            transition: all .3s linear;
        }
        
        .social,
        .lang{
            margin-top: 20px;
            transition: all .3s linear;
        }
        
        .mobile__menu-btn {
            margin-top: 18px;
        }
    }
    
    &--scroll {
        transform: translateY(-200%);
        transition: transform .6s ease-in-out;
    }
}

.social {
    display: inline-flex;
    flex-wrap: wrap;
    &-list {
        display: inline-flex;
        margin-right: 17px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 21px;
        height: 21px;
        border-radius: 50px;
        border: 1px solid $color-lblack;
        transition: all 0.3s ease-in-out;
        &:hover {
            border-color: $color-primary;
            background-color: $color-primary;
            transition: all 0.3s ease-in-out;
            
            .social-icon {
                stroke: $color-white;
            }
        }
    }
    
    &-icon {
        width: 10px;
        height: 10px;
        fill: none;
        stroke: $color-lblack;
    }

    .tg {
        width: 9px;
        height: 10px;
    }

    .insta {
        width: 10px;
        height: 10px;
    }

    .fb {
        width: 5px;
        height: 9px;
    }
}

.lang {

    &__items {
        position: relative;
    }
    &__item {
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        color: $color-lblack;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        &:hover {
            color: $color-primary;
            transition: color 0.3s ease-in-out;
        }
        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
        }
        
        span {
            display: inline-block;
            padding-left: 9px;
        }
    }
    
    &-current {
        position: relative;
        padding-right: 15px;
        &::after,
        &::before {
            content:'';
            position:absolute;
            top: 8px;
            right: 0;
            width: 6px;
            border: 0.8px solid $color-lblack;
            transition:all 0.3s;
        }
        
        &::after {
            right: -1px; 
            transform: rotateZ(-45deg);
        }
        
        &::before {
            right: 2px; 
            transform: rotateZ(45deg);
        }
        
        &:hover {
            &::after,
            &::before {
                border-color: $color-primary;
                transition: all 0.3s ease-in-out;
            }
        }
        
    }
    
    &__sublang {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 27px;
        left: -5px;
        padding: 3px;
        width: 64px;
        opacity: 0;
        visibility: hidden;
        background: #FFFFFF;
        border-radius: 3px;
        outline: 2px solid $color-grey;
        outline-offset: -4px;
        box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in-out;
        .lang__item {
            padding: 5px 8px;
            
            &:hover {
                background-color: $color-grey;
            }
        }
        
        &--open {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease-in-out;
        }
    }
}

.phone {
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;
    
    @include mobile {
        display: none;
    }
    &-icon {
        display: inline-block;
        margin-right: 10px;
        width: 15px;
        height: 15px;
        background: url('../images/icons/phone.svg') no-repeat center;
    }
    p {
        margin: 0;
        font-weight: 300;
        font-size: 16px;
        color: $color-lblack;
        line-height: 20px;
        &:first-of-type {
            position: relative;
            padding-right: 10px;
            margin-right: 10px;
            &::after {
                position: absolute;
                content: "|";
                top: 0;
                right: -2px;
                color: $color-lblack;
            }
        }
        &:nth-of-type(3) {
            margin-left: auto;
            margin-right: 2px;
        }
        span {
            font-weight: 600;
        }
    }
}

.menu {
    position: relative;
    z-index: 10;
    @include mobile {
        display: none;
        margin-top: 10px;
        width: 100%;
        
        .btn-catalog {
            width: 100%;
            margin-right: 0;
            justify-content: center;
        }
    }
    
    &__submenu {
        position: absolute;
        left: 0;
        top: 48px;
        padding: 17px;
        width: 261px;
        background: #FFFFFF;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        
        &--hide {
            top: 60px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        
        &--show {
            top: 48px;
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease-in-out;
        }
        
        @include mobile {
            display: none;
            width: 100%;
            position: relative;
            top: unset;
            margin-top: 5px;
            background: #F3F2F2;
            border: 1px solid #E6E6E6;
            box-shadow: none;
            opacity: 1;
            visibility: visible;
            transition: none;
        }
    }
    
    &__sublist {
        margin-bottom: 15px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__sublink {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #2B3035;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        
        &:hover {
            color: $color-primary;
            transition: color 0.3s ease-in-out;
        }
    }
    .submenu {
        &__btn {
            display: flex;
            justify-content: center;
            font-size: 14px;
            line-height: 17px;
            min-height: 40px;
            color: #fff;
        }
    }
    &-subList {
        
    }
}

.mobile__number {
    display: none;
    
    @include mobile {
        display: inline-block;
        li {
            margin-bottom: 5px;
        }
        span {
            font-size: 14px;
            vertical-align: middle;
        }
        
    }
}

.mobile__menu-btn {
    display: none;
    
    @include mobile {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 25px;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 23px;
        flex: 0 0 auto;
        
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #2B3035;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 8px;
            }
        }
    }
    
    &--open {
        span {
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
            &:nth-child(1) {
                top: 8px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

.mobile__menu {
    display: none;
    
    @include mobile {
        display: block;
        margin-top: 5px;
        
        & > li {
            & > a {
                display: block;
                font-size: 20px;
                line-height: 35px;
                color: $color-lblack;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}