section.about-us
    .container
        p.about-us__title
            | Несколько кадров о достоинсвах и неизменных приемуществ <br>компании <b>ProCab</b>
        .about-us__wrapper
            <div class="videoWrapper js-videoWrapper">
                <iframe class="videoIframe js-videoIframe" src="" autoplay="1" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/a4Ub2LZxPPQ"></iframe>
                <button class="videoPoster js-videoPoster" style="background-image:url(images/content/video.jpg);">Play video</button>
            </div>
            .about-us__bg(style="background-image: url(images/content/videoSection.png)")