section.advantages
    .container
        .advantages__title.title
            h2
                | Наши преимущества
        .advantages__items
            .advantages__item
                .advantages__icon(style="background-image: url('images/icons/advantages-1.svg')")
                .advantages__txt
                    p
                        | Высококачественное сырье от ведущих компаний
            .advantages__item
                .advantages__icon(style="background-image: url('images/icons/advantages-2.svg')")
                .advantages__txt
                    p
                        | Продукция произведенная <br> по инновационным технологиям
            .advantages__item
                .advantages__icon(style="background-image: url('images/icons/advantages-3.svg')")
                .advantages__txt
                    p
                        | Продукция отвечает установленным ГОСТ и международным стандартам качества (ISO 9001:2015)
            .advantages__item
                .advantages__icon(style="background-image: url('images/icons/advantages-4.svg')")
                .advantages__txt
                    p
                        | Более 2000 наименований продукции
            .advantages__item
                .advantages__icon(style="background-image: url('images/icons/advantages-5.svg')")
                .advantages__txt
                    p
                        | Огнестойкость кабелей и проводов
            .advantages__item
                .advantages__icon(style="background-image: url('images/icons/advantages-6.svg')")
                .advantages__txt
                    p
                        | Гарантия на срок службы продукции
            .advantages__item
                .advantages__icon(style="background-image: url('images/icons/advantages-7.svg')")
                .advantages__txt
                    p
                        | Быстрый самовывоз <br> продукции со склада