section.catalogs
    .container
        .catalogs__pos
            .catalogs__bg
            .catalogs__wrap
                .catalogs__left
                    .catalogs__top
                        .catalogs__title
                            | Каталог продукции 
                        .catalogs__btn
                            button.catalogs__link--btn.dwn__link
                                span.dwn__icon
                                span.dwn__txt Скачать каталог
                    .catalogs__items
                        .catalogs__item
                            a(href="#").catalogs__link
                                | Силовые кабели с пластмассовой изоляцией на номинальное напряжение до 3 кв
                            .catalogs__info
                                .catalogs__info--bg
                                img(src="images/content/cabel-1.png", alt="").catalogs__img
                                .catalogs__info-txt
                                    h5
                                        | Примечание
                                    p
                                        | Кабели силовые с медными или алюминиевыми жилами, одножильные или трехжильные, с изоляцией из сшитого полиэтилена, с продольной и поперечной герметизацией от распространения влаги, в наружной оболочке из поливинилхлоридного пластиката.
                                a(href="#").catalogs__mobile-link.btn
                                    | Перейти
                                button(type="button").mobile__close
                                    span
                        .catalogs__item
                            a(href="#").catalogs__link
                                | Кабели с изоляцией из сшитого полиэтилена на напряжение от 6 до 35 кв
                            .catalogs__info
                                .catalogs__info--bg
                                img(src="images/content/cabel-2.png", alt="").catalogs__img
                                .catalogs__info-txt
                                    h5
                                        | Примечание
                                    p
                                        | Кабели силовые с медными или алюминиевыми жилами, одножильные или трехжильные, с изоляцией из сшитого полиэтилена, с продольной и поперечной герметизацией от распространения влаги, в наружной оболочке из поливинилхлоридного пластиката.
                                a(href="#").catalogs__mobile-link.btn
                                    | Перейти
                                button(type="button").mobile__close
                                    span
                        .catalogs__item
                            a(href="#").catalogs__link
                                | Контрольные кабели
                            .catalogs__info
                                .catalogs__info--bg
                                img(src="images/content/cabel-3.png", alt="").catalogs__img
                                .catalogs__info-txt
                                    h5
                                        | Примечание
                                    p
                                        | Кабели силовые с медными или алюминиевыми жилами, одножильные или трехжильные, с изоляцией из сшитого полиэтилена, с продольной и поперечной герметизацией от распространения влаги, в наружной оболочке из поливинилхлоридного пластиката.
                                a(href="#").catalogs__mobile-link.btn
                                    | Перейти
                                button(type="button").mobile__close
                                    span
                        .catalogs__item
                            a(href="#").catalogs__link
                                | Провода для передачи электроэнергии
                            .catalogs__info
                                .catalogs__info--bg
                                img(src="images/content/cabel-4.png", alt="").catalogs__img
                                .catalogs__info-txt
                                    h5
                                        | Примечание
                                    p
                                        | Кабели силовые с медными или алюминиевыми жилами, одножильные или трехжильные, с изоляцией из сшитого полиэтилена, с продольной и поперечной герметизацией от распространения влаги, в наружной оболочке из поливинилхлоридного пластиката.
                                a(href="#").catalogs__mobile-link.btn
                                    | Перейти
                                button(type="button").mobile__close
                                    span
                        .catalogs__item
                            a(href="#").catalogs__link
                                | Провода и кабели для электрических установок
                            .catalogs__info
                                .catalogs__info--bg
                                img(src="images/content/cabel-5.png", alt="").catalogs__img
                                .catalogs__info-txt
                                    h5
                                        | Примечание
                                    p
                                        | Кабели силовые с медными или алюминиевыми жилами, одножильные или трехжильные, с изоляцией из сшитого полиэтилена, с продольной и поперечной герметизацией от распространения влаги, в наружной оболочке из поливинилхлоридного пластиката.
                                a(href="#").catalogs__mobile-link.btn
                                    | Перейти
                                button(type="button").mobile__close
                                    span
                        .catalogs__item
                            a(href="#").catalogs__link
                                | Кабель для систем пожарной и охранной сигнализации
                            .catalogs__info
                                .catalogs__info--bg
                                img(src="images/content/cabel-6.png", alt="").catalogs__img
                                .catalogs__info-txt
                                    h5
                                        | Примечание
                                    p
                                        | Кабели силовые с медными или алюминиевыми жилами, одножильные или трехжильные, с изоляцией из сшитого полиэтилена, с продольной и поперечной герметизацией от распространения влаги, в наружной оболочке из поливинилхлоридного пластиката.
                                a(href="#").catalogs__mobile-link.btn
                                    | Перейти
                                button(type="button").mobile__close
                                    span
                        .catalogs__item
                            a(href="#").catalogs__link
                                | Кабели универсальные и инструментальные
                            .catalogs__info
                                .catalogs__info--bg
                                img(src="images/content/cabel-7.png", alt="").catalogs__img
                                .catalogs__info-txt
                                    h5
                                        | Примечание
                                    p
                                        | Кабели силовые с медными или алюминиевыми жилами, одножильные или трехжильные, с изоляцией из сшитого полиэтилена, с продольной и поперечной герметизацией от распространения влаги, в наружной оболочке из поливинилхлоридного пластиката.
                                a(href="#").catalogs__mobile-link.btn
                                    | Перейти
                                button(type="button").mobile__close
                                    span
                        .catalogs__item
                            a(href="#").catalogs__link
                                | Кабели для структурированных кабельных систем
                            .catalogs__info
                                .catalogs__info--bg
                                img(src="images/content/cabel-8.png", alt="").catalogs__img
                                .catalogs__info-txt
                                    h5
                                        | Примечание
                                    p
                                        | Кабели силовые с медными или алюминиевыми жилами, одножильные или трехжильные, с изоляцией из сшитого полиэтилена, с продольной и поперечной герметизацией от распространения влаги, в наружной оболочке из поливинилхлоридного пластиката.
                                a(href="#").catalogs__mobile-link.btn
                                    | Перейти
                                button(type="button").mobile__close
                                    span