section.client
    .container
        .client__title.title
            h2
                | Наши клиенты
        .client__subtitle
            p
                | С нами сотрудничают как крупнейшие, так и представители малого и среднего бизнеса всех отраслей промышленности и сферы услуг.
        .client__slider
            .client__items.owl-carousel
                a(href="#" title="akfa" target="_blank").client__item
                    .client__icon
                        img(src="images/content/akfa.png", alt="akfa")
                    span.client__name
                        | Akfa
                a(href="#" title="imzo" target="_blank").client__item
                    .client__icon
                        img(src="images/content/imzo.png", alt="imzo")
                    span.client__name
                        | Imzo
                a(href="#" title="Golden house" target="_blank").client__item
                    .client__icon
                        img(src="images/content/golden-house.png", alt="Golden house")
                    span.client__name
                        | Golden house
                a(href="#" title="Murad buildings" target="_blank").client__item
                    .client__icon
                        img(src="images/content/murat.png", alt="Murad buildings")
                    span.client__name
                        | Murad buildings
                a(href="#" title="Binokor" target="_blank").client__item
                    .client__icon
                        img(src="images/content/binokor.png", alt="Binokor")
                    span.client__name
                        | Binokor
                a(href="#" title="BridgeLux" target="_blank").client__item
                    .client__icon
                        img(src="images/content/bridgelux.png", alt="BridgeLux")
                    span.client__name
                        | BridgeLux
                a(href="#" title="imzo" target="_blank").client__item
                    .client__icon
                        img(src="images/content/imzo.png", alt="imzo")
                    span.client__name
                        | Imzo