footer
    .container
        .footer__btn
            a(href="#").btn
                | Каталог продукции
        ul.footer__items
            li.footer__item
                a(href="#").footer__link
                    | Силовые кабели с пластмассовой изоляцией на номинальное напряжение до 3 кв
            li.footer__item
                a(href="#").footer__link
                    | Кабели с изоляцией из  сшитого полиэтилена на напряжение от 6 до 35 кв
            li.footer__item
                a(href="#").footer__link
                    | Контрольные кабели
            li.footer__item
                a(href="#").footer__link
                    | Провода для передачи электроэнергии
            li.footer__item
                a(href="#").footer__link
                    | Провода и кабели для электрических установок
            li.footer__item
                a(href="#").footer__link
                    | Кабель для систем пожарной и охранной сигнализации
            li.footer__item
                a(href="#").footer__link
                    | Кабели универсальные и инструментальные
            li.footer__item
                a(href="#").footer__link
                    | Кабели для структурированных кабельных систем
            li.footer__mobile-btn
                a(href="#").footer__link.btn
                    | Каталог продукции
        .footer__bottom
            .footer__copyright
                img(src="images/icons/logo.svg", alt="logo")
                span.footer__line
                .footer__copyright-txt
                    | СП ООО "ProCab" <br> &copy 2019 | Все права защищены
            .footer__number
                span.phone__icon
                .footer__number-wrap
                    p
                        | Наш телефон
                    ul
                        li
                            | +998 71 258 08 58
                        li
                            | +998 71 257 60 00
                        li
                            | +998 98 126 04 44
            ul.social
                li.social-list
                    a(href="#" target="_blank").social-link
                        +svg("fb").social-icon.fb
                li.social-list
                    a(href="#" target="_blank").social-link
                        +svg("insta").social-icon.insta
                li.social-list
                    a(href="#" target="_blank").social-link
                        +svg("tg").social-icon.tg
                li.social-list
                    a(href="#" target="_blank").social-link
                        +svg("in").social-icon.in
                li.social-list
                    a(href="#" target="_blank").social-link
                        +svg("youtube").social-icon.youtube