section.news
    .container
        .news__wrapper
            .news__title.title
                h2 Новости
            .news__items.owl-carousel
                a(href="#" title="").news__item
                    span.date
                        | 20.06.2019
                    img(src="images/content/news-1.jpg", alt="Волочильный участок")
                    h2
                        | Волочильный участок
                    p
                        | Полученная катанка поступает на волочильный участок. При производстве кабельно-проводниковой продукции, одним из основных этапов является получение проволок нужного диаметра. Проволоку требуемого диаметра.
                a(href="#" title="").news__item
                    span.date
                        | 20.06.2019
                    img(src="images/content/news-2.jpg", alt="Контроль качества продукции в компании ProCab")
                    h2
                        | Контроль качества продукции в компании ProCab
                    p
                        | Контроль качества является важным фактором при производстве кабелей и проводов. Отдел технического контроля качества является самостоятельным и главным структурным подразделением, основным органом по контролю за
                a(href="#" title="").news__item
                    span.date
                        | 20.06.2019
                    img(src="images/content/news-3.jpg", alt="Плавильный участок")
                    h2
                        | Плавильный участок
                    p
                        | Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
            .news__btn
                a(href="#").btn
                    | Вcе новости