section.partners
    .container
        .partners__title.title
            h2
                | Наши партнеры
        .partners__subtitle
            p
                | Мы сотрудничаем с ведущими мировыми производителями и поставщиками, которые являются лидерами в своей сфере деятельности!
        .partners__slider
            .partners__items.owl-carousel
                a(href="#" title="akfa" target="_blank").partners__item
                    .partners__icon
                        img(src="images/content/akfa.png", alt="akfa")
                    span.partners__name
                        | Akfa
                a(href="#" title="imzo" target="_blank").partners__item
                    .partners__icon
                        img(src="images/content/imzo.png", alt="imzo")
                    span.partners__name
                        | Imzo
                a(href="#" title="Golden house" target="_blank").partners__item
                    .partners__icon
                        img(src="images/content/golden-house.png", alt="Golden house")
                    span.partners__name
                        | Golden house
                a(href="#" title="Murad buildings" target="_blank").partners__item
                    .partners__icon
                        img(src="images/content/murat.png", alt="Murad buildings")
                    span.partners__name
                        | Murad buildings
                a(href="#" title="Binokor" target="_blank").partners__item
                    .partners__icon
                        img(src="images/content/binokor.png", alt="Binokor")
                    span.partners__name
                        | Binokor
                a(href="#" title="BridgeLux" target="_blank").partners__item
                    .partners__icon
                        img(src="images/content/bridgelux.png", alt="BridgeLux")
                    span.partners__name
                        | BridgeLux
                a(href="#" title="imzo" target="_blank").partners__item
                    .partners__icon
                        img(src="images/content/imzo.png", alt="imzo")
                    span.partners__name
                        | Imzo