section.topSlider
    .container
        .topSlider-wrapper
            .topSlider-txt
                h1
                    | Кабельно-Проводниковый Мегазавод
                p
                    | На сегодняшний день, мы являемся одним <br> из признанных лидеров отрасли по качеству <br> выпускаемой продукции
            .topSlider-img
                .city(style="background-image: url('images/content/city.svg')")
                .city-3(style="background-image: url('images/content/city-3.png')")
                include ../images/content/city2.svg
            .down-icon
