extends pug/base

append vars
	- title = 'Главная страница'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
	- link.icon = './favicon.ico'
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#3181D7'
	- defaultLink = 'javascript:void(0);'

block content
	// preloader
	include pages/preloader
	.content
		// Шапка
		include pages/header
		// Контент
		.main
			// Анимация
			include pages/topSlider
			// ПРЕИМУЩЕСТВА
			include pages/advantages
			// Каталог
			include pages/catalogs
			// О нас
			include pages/about
			// Новости
			include pages/news
			// Наши клиенты
			include pages/clients
			// Наши партнеры
			include pages/partners
		// Подвал
		include pages/footer