extends pug/base

append vars
    - title = 'Производство ОТК'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#3181D7'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page']

block content
    .content
        // Шапка
        include pages/header
        // Контент
        .main
            .container
                .crumbs
                    ul
                        li
                            a(href=`/` title="На главную")
                                | Главная
                        li
                            span Производство ОТК
                .production
                    .title
                        h2
                            | Производство ОТК
                    .production__items
                        .production__item
                            h2.production__name
                                | Плавильный участок
                            .production__block
                                img(src="images/content/other-3.jpg", alt="Плавильный участок").production__img
                                p.production__text
                                    | Медная катанка является основным исходным материалом, применяемым в производстве кабельно-проводниковой продукции. Сырьем для производства медной катанки являются медные катоды. На нашем предприятии при производстве медной катанки используется метод непрерывного бескислородного литья с использованием современного оборудования компании UPCAST (Финляндия). Линия UPCAST предназначена для литья катанки из меди и медных сплавов. На плавильную печь поступают медные катоды где происходит их плавление при высокой температуре в бескислородной среде. При выходе из кристаллизатора получают медную катанку нужного диаметра (8мм, 20мм) для дальнейшей переработки по производственному циклу.
                        .production__item
                            h2.production__name
                                | Волочильный участок
                            .production__block
                                img(src="images/content/other-1.jpg", alt="Волочильный участок").production__img
                                p.production__text
                                    | Полученная катанка поступает на волочильный участок. При производстве кабельно-проводниковой продукции, одним из основных этапов является получение проволок нужного диаметра. Проволоку требуемого диаметра получают волочением катанки.<br> Волочение – это технологический процесс постепенного уменьшения диаметра проволоки за счет её прохождения через волоки (фильеры). Волочение медной проволоки осуществляется на волочильных линиях компании «NIEHOFF» (Германия). При производстве много проволочных токопроводящих жил, наиболее технологичным является процесс одновременного волочения сразу нескольких проволок на многопроволочных волочильных машинах.
                        .production__item
                            h2.production__name
                                | Cкруточный участок
                            .production__block
                                img(src="images/content/other-1.jpg", alt="Cкруточный участок").production__img
                                p.production__text
                                    | Полученная катанка поступает на волочильный участок. При производстве кабельно-проводниковой продукции, одним из основных этапов является получение проволок нужного диаметра. Проволоку требуемого диаметра получают волочением катанки.<br> Волочение – это технологический процесс постепенного уменьшения диаметра проволоки за счет её прохождения через волоки (фильеры). Волочение медной проволоки осуществляется на волочильных линиях компании «NIEHOFF» (Германия). При производстве много проволочных токопроводящих жил, наиболее технологичным является процесс одновременного волочения сразу нескольких проволок на многопроволочных волочильных машинах.
                        .production__item
                            h2.production__name
                                | Экструдерный участок
                            .production__block
                                img(src="images/content/news-4.jpg", alt="Экструдерный участок").production__img
                                p.production__text
                                    | Однопроволочные и многопроволочные медные и алюминиевые жилы поступают на экструдерный участок, где на линиях производится процесс нанесения изоляции из ПВХ пластиката или полиэтилена методом экструзии. При изготовлении многожильных проводов и кабелей изолированные жилы скручиваются в сердечник. Скрутка происходит на специальных крутильных машинах. Далее сердечник, состоящий из скрученных или не скрученных изолированных жил поступает на линию нанесения оболочки из ПВХ пластиката или полиэтилена. Нанесение оболочки может происходить двумя способами: с обжатием или без обжатия. Оболочка, которая защищает жилы от механических повреждений и придаёт огнестойкость, наносится методом экструзии, как и при нанесении изоляции. Для нанесения оболочки при производстве кабельной продукции используется ПВХ пластикаты или полиэтилен. Маркировка проводов и кабелей производится специальными принтерами, как правило одновременно с нанесением оболочки.
                        .production__item
                            h2.production__name
                                | Упаковочный Участок
                            .production__block
                                img(src="images/content/news-5.jpg", alt="Упаковочный Участок").production__img
                                p.production__text
                                    | Контроль качества является важным фактором при производстве кабелей и проводов. Отдел технического контроля качества является самостоятельным и главным структурным подразделением, основным органом по контролю за качеством выпускаемой продукции. Основной задачей отдела является контроль качества изготавливаемых кабелей и проводов на соответствие требованиям стандартов, технических условий и технологической документации производителя. Наша лаборатория хорошо оборудована и имеет возможность проводить различные виды испытаний. Лаборатория ОТК проводит испытания с целью постоянного контроля качества изделий, стабильности технологического процесса их изготовления.
                        .production__item
                            h2.production__name
                                | ОТК
                            .production__block
                                img(src="images/content/other-2.jpg", alt="ОТК").production__img
                                p.production__text
                                    | Контроль качества является важным фактором при производстве кабелей и проводов. Отдел технического контроля качества является самостоятельным и главным структурным подразделением, основным органом по контролю за качеством выпускаемой продукции. Основной задачей отдела является контроль качества изготавливаемых кабелей и проводов на соответствие требованиям стандартов, технических условий и технологической документации производителя. Наша лаборатория хорошо оборудована и имеет возможность проводить различные виды испытаний. Лаборатория ОТК проводит испытания с целью постоянного контроля качества изделий, стабильности технологического процесса их изготовления.
        // Подвал
        include pages/footer