// stylelint-disable scss/dollar-variable-empty-line-before
// COLORS
$color-black: #080808;
$color-white: #fff;
$color-primary: #3181D7;
$color-red: #ED1D24;
$color-pink: #FD3643;
$color-grey: #F2F2F2;
$color-lblack: #2C2C2C;



// FONTS
$proxima-regular: 'Proxima Nova Rg';
$proxima-light: 'Proxima Nova Lt';